.about {
  @include page-grid;

  &-back {
    grid-column: 1/-1;

    @include on-desktop {
      grid-column:3/-3;
    }

    &-img {
      display: inline-block;
      width: 100%;
    }
  }
}