.benefits {
  @include page-grid;

  &-back {
    grid-column: 1/-1;
    margin-inline: -34px;

    @include on-tablet {
      grid-column: 4/span 5;
      margin-inline: 0;
    }

    @include on-desktop{
      grid-column: 6/-1;
    }

    &-img {
      display: inline-block;
      max-width: 100%;
    }

  }

  &-info {
    grid-column: 1/-1;

    @include on-tablet {
      grid-column: span 3;
      grid-row: 1;
    }

    @include on-desktop{
      grid-column: span 5;
    }

    &-title {
      padding-block: 40px 20px;
    }

    &-desc {
      @include maintext-style;
    }
  }
}