.features {
  @include page-grid-nopadd;

  padding-block: 110px;

  @include on-tablet {
    padding: 0;
  }

 

  &-title {
    grid-column: span 4;
    padding-bottom: 62px;
    padding-inline: 30px;

    @include on-tablet {
      grid-column: 1/-1;

    }

    @include on-desktop {
      padding: 0;
    }
  }

  &__container {
    grid-column: span 4;
    background-color: #D6ECEC;

    @include on-tablet {
      position: relative;
      display: grid;
      grid-column: 1/-1;
      grid-template-columns: subgrid;
    }

    @include on-desktop{
      row-gap: 56px;
    }



    &-content {
      padding-inline: 30px;

      @include on-tablet {
        grid-column: 2/span 3;
        padding: 0;

      }

      @include on-desktop {
        grid-column: 2/span 4;

        &:nth-child(2) {
          grid-column: 7/span 4;
        }
      }

      &-title {
        padding-block: 30px 20px;
        color: #0C797A;
      }

      &-ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        list-style-position: inside; // Faz a bolinha contar como parte do texto no alinhamento

        @include secondtext-style;

        &-li {
          color: #333;
        }
      }
    }

    &-backslider {
      display: flex;
      justify-content: center;
      padding-top: 50px;

      @include on-tablet {
        display: inline-block;
        grid-column: 2;
        padding-bottom: 125px;
      }



    }

    &-background {
      @include on-tablet {
        position: absolute;
        right: 0;
        bottom: 0;
      }

      @include on-desktop {
        position: inherit;
        grid-column: 7/span 5;
      }

      &-imagem {
        display: block;
        width: 100%;

        @include on-tablet {
          margin-inline: 0;
          background-color: transparent;
        }

      }
    }
  }

}