.footer {
  @include page-grid;

  &-logo {
    display: flex;
    grid-column: 1/-1;
    gap: 20px;
    justify-content: center;
  }

  &-desc {
    grid-column: 1/-1;
    padding-block: 30px 20px;
    text-align: center;

    @include secondtext-style;
  }

  &-link {
    display: flex;
    grid-column: 1/-1;
    justify-content: center;
    padding-bottom: 50px;
    &-arrow{
      position: absolute;
      right: 5%;
    }
  }
}


.svg-gray {
  fill: #4F4F4F;
}
