.technology {
  @include page-grid;

  row-gap: 110px;
  padding-block: 110px;

  @include on-desktop {
    row-gap: 170px;
    padding-block: 170px;
  }

  &__container {
    grid-column: 1/-1;

    @include on-tablet {
      display: grid;
      grid-template-columns: subgrid;

      &:nth-child(2) {
        // identifica o segundo filho, poderia usar (even) que seria os filhos pares
        .technology__container-img {
          grid-column: 5/span 4;
          grid-row: span 2;
        }

        .technology__container-title {
          grid-column: 1/span 4;
        }

        .technology__container-info {
          grid-column: 1/span 4;
        }
      }
    }

    @include on-desktop {
      &:nth-child(2) {
        // identifica o segundo filho, poderia usar (even) que seria os filhos pares
        .technology__container-img {
          grid-column: 7/span 6;
          grid-row: span 2;
        }

        .technology__container-title {
          grid-column: 1/span 6;
        }

        .technology__container-info {
          grid-column: 1/span 6;
        }
      }

    }

    &-title {
      @include on-tablet {
        grid-column: 5/span 4;
        grid-row: 1;
      }

      @include on-desktop {
        grid-column: 7/span 6;
      }
    }

    &-img {
      padding-block: 20px;

      @include on-tablet {
        grid-column: span 4;
        grid-row: span 2;
      }

      @include on-desktop {
        grid-column: span 6
      }

      &-imagem {
        display: inline-block;
        width: 100%;
      }
    }

    &-info {
      @include on-tablet {
        grid-column: 5/span 4;
        grid-row: 2;
      }

      @include on-desktop {
        grid-column: 7/span 6;
      }


      &-desc {
        padding-bottom: 30px;

        @include secondtext-style;
      }

      // >>link azul
    }



  }
}